{% extends "primary.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('general.home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
    </nav>
    <div class="container">
        <h2>About Group Buy Organizer</h2>
        <br>
        <p>Group Buy Organizer is an open-source web application developed by me, Mark Michon to streamline the group buying
            process for large wholesale orders. Spend less time coordinating and more time getting on with life.</p>
        <p>This was developed entirely from production-grade libraries for maximum performance, stability, and security.
            <a href="https://github.com/MarkMichon1/Group-Buy-Organizer">The source code for this application can be
                viewed here.</a></p>
        <br>
        <h2>About Me</h2>
        <br>
        <p>I'm a Python developer who likes to design and make cool applications. I can be reached at
            <a href="mailto:markmichon7@gmail.com">markmichon7@gmail.com</a>.  If you're ever looking for a web application
        built, don't hesitate to contact me.  Fast, secure, effective applications are my passion.</p>
        <br>
        <h2>MIT License</h2>
        <br>
        <p>&copy; 2019 - &infin; Mark Michon</p>
        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
            documentation files (the "Software"), to deal in the Software without restriction, including without
            limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
            the Software, and to permit persons to whom the Software is furnished to do so, subject to the following
            conditions:</p>
        <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions
            of the Software.</p>
        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
            TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
            SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN
            ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE
            OR OTHER DEALINGS IN THE SOFTWARE.</p>
    </div>
{% endblock content %}