{% extends "primary.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('general.home') }}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Admin</li>
            <li class="breadcrumb-item active" aria-current="page">Application Settings</li>
        </ol>
    </nav>
    <div class="container mt-5">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group mt-5 mb-3">
                <div class="form-group">
                    <div class="form-check">
                        {{ form.registration_enabled(class="form-check-input") }}
                        {{ form.registration_enabled.label(class="form-check-label") }}
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}