{% extends "primary.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('general.home') }}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('events.event', event_id=event.id) }}">{{ event.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page"><a href="{{ url_for('events.item', event_id=event.id, item_id=item.id) }}">{{ item.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Case Split</li>
        </ol>
    </nav>
    {% if case_split.case_split.is_complete %}
        <div class="card border border-secondary mb-5 mt-5">
    {% else %}
        <div class="card border border-success mb-5 mt-5">
    {% endif %}
        <div class="card-header">
            {% if case_split.is_current_user_involved %}
                <div class="alert alert-success" role="alert">
                    <h3 class="card-title">{{ item.packing - case_split.pieces_available }} / {{ item.packing }} Items Pledged</h3>
                </div>
            {% else %}
                <div class="alert alert-secondary" role="alert">
                    {% if not is_locked %}
                        <form class="form-inline float-right" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.piece_quantity.label(class="form-control-label") }}
                            {{ form.piece_quantity(class="form-control ml-3") }}
                            {{ form.submit(class="btn btn-outline-info ml-3") }}
                        </form>
                    {% endif %}
                    <h3 class="card-title">{{ item.packing - case_split.pieces_available }} / {{ item.packing }} Items Pledged</h3>
                </div>
            {% endif %}
            {% if active_split %}
                <div class="float-right">

                </div>
            {% endif %}
            <h6 class="card-subtitle mb-2 text-muted">Added by {{ created_by }}</h6>
        </div>
        <div class="card-header">
            <div class="progress">
                {% if case_split.case_split.is_complete%}
                    <div class="progress-bar progress-bar bg-primary" role="progressbar" style="width: {{
                            ((item.packing - case_split.pieces_available)/item.packing)*100 }}%">{{ item.packing
                            - case_split.pieces_available }} / {{ item.packing }}
                    </div>
                {% else %}
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{
                        ((item.packing - case_split.pieces_available)/item.packing)*100 }}%">{{ item.packing
                        - case_split.pieces_available }} / {{ item.packing }}
                    </div>
                {% endif %}
            </div>
            <table class="table">
                <thead>
                   <tr>
                       <th scope="col">Order of Pledges Submitted</th>
                       <th scope="col">Username</th>
                       <th scope="col">Quantity Pledged</th>
                       {% if not is_locked and case_split.is_current_user_involved %}
                           <th scope="col">Remove Pledge?</th>
                       {% else %}
                           {% if current_user.is_admin %}
                               <th scope="col">Remove Pledge?</th>
                           {% endif %}
                       {% endif %}
                   </tr>
                </thead>
                <tbody>
                    {% for commit in case_split.commits %}
                        {% if current_user.id == commit[0][0] %}
                            <tr class="table-success">
                        {% else %}
                            <tr>
                        {% endif %}
                            <td># {{ case_split.commits|length - loop.index0 }}</td>
                            <td>{{ commit[0][1] }}</td>
                            {% if current_user.id == commit[0][0] and not is_locked %}
                                <td>
                                    <form class="form-inline" method="post">
                                        {{ form.hidden_tag() }}
                                        {{ form.piece_quantity.label(class="form-control-label") }}
                                        {{ form.piece_quantity(class="form-control ml-3") }}
                                        {{ form.submit(class="btn btn-outline-info ml-3") }}
                                    </form>
                                </td>
                            {% else %}
                                <td>{{ commit[1].pieces_committed }}</td>
                            {% endif %}
                            {% if not event.is_locked %}
                                {% if current_user.is_admin or commit[0][0] == current_user.id %}
                                    <td><a class="btn btn-outline-danger" href="{{ url_for('events.remove_case_split_pledge',
                                    event_id=event.id, item_id=item.id, case_split_id=case_split.case_split.id, commit_id=commit[1].id) }}" role="button">Remove</a></td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}