{% extends "primary.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('general.home') }}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ event.name }}</li>
            </ol>
    </nav>
    {% if current_user.is_admin %}
        <div class="card mb-5 mt-5">
            <div class="card-header">
                <h3 class="card-title">Admin Panel</h3>
                <h6 class="card-subtitle mb-2 text-muted">This form is only visible to administrators.</h6>
            </div>
            <div class="card-header">
                <a class="btn btn-outline-success" href="{{ url_for('events.my_order', event_id=event.id, user_id=current_user.id) }}" role="button">My Order</a>
                <a class="btn btn-outline-primary m-1" href="{{ url_for('events.event_total', event_id=event.id) }}" role="button">Master Order Review</a>
                <a class="btn btn-outline-primary m-1" href="{{ url_for('events.event_total_user_breakdown', event_id=event.id) }}" role="button">User Breakdown</a>
                <a class="btn btn-outline-info m-1" href="{{ url_for('events.manage_payments', event_id=event.id) }}" role="button">Manage Payments</a>
                <a class="btn btn-outline-secondary m-1" href="{{ url_for('events.event_edit', event_id=event.id) }}" role="button">Edit Event</a>
                {% if remove_user_from_event_form.user_to_remove.choices %}
                    <form class="form-inline mt-2" method="POST">
                        {{ remove_user_from_event_form.hidden_tag() }}
                        <div class="input-group mb-2 mr-sm-2">
                            {{ remove_user_from_event_form.user_to_remove.label(class="form-control-label mr-3") }}
                            {{ remove_user_from_event_form.user_to_remove(class_="form-control") }}
                        </div>
                        <div class="form-check mb-2 ml-1 mr-sm-2">
                            {{ remove_user_from_event_form.submit(class="btn btn-outline-warning") }}
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    {% else %}
        <div class="card mb-5 mt-5">
            <div class="card-header">
                <h3 class="card-title">User Panel</h3>
                {% if users_can_see_master_overview %}
                    <h6 class="card-subtitle mb-2 text-muted">Use these buttons for group buy information.  Click
                        "My Order" to see a nice summary of your group buy order.</h6>
                {% else %}
                    <h6 class="card-subtitle mb-2 text-muted">Click "My Order" to see a nice summary of your group buy
                    order.</h6>
                {% endif %}
            </div>
            <div class="card-header">
                <a class="btn btn-outline-success" href="{{ url_for('events.my_order', event_id=event.id, user_id=current_user.id) }}" role="button">My Order</a>
                {% if users_can_see_master_overview %}
                    <a class="btn btn-outline-primary m-1" href="{{ url_for('events.event_total', event_id=event.id) }}" role="button">Master Order Review</a>
                <a class="btn btn-outline-primary m-1" href="{{ url_for('events.event_total_user_breakdown', event_id=event.id) }}" role="button">User Breakdown</a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="container mb-5">
        {% if not event.is_locked and not event.is_closed %}
            <div class="alert alert-success mx-auto">
                <h3><p class="text-center">Open</p></h3>
                <hr>
                <p class="text-center">This group buy event is currently open.  Add items in the form right below if you
                don't see them already displayed below.  Click the name of the item to buy whole cases of it, or participate
                in a case split.</p>
            </div>
        {% elif event.is_closed %}
            <div class="alert alert-secondary mx-auto">
                <h3><p class="text-center">Closed</p></h3>
                <hr>
                <p class="text-center">This group buy is marked as complete.</p>
            </div>
        {% elif event.is_locked %}
            <div class="alert alert-warning mx-auto">
                <h3><p class="text-center">Locked - Pending Completion</p></h3>
                <hr>
                <p class="text-center">This group buy has been marked as locked by an administrator.  Transactions and
                orders are locked into place, and cannot be modified.  Events are locked as they are winding down towards
                completion, or if the administrator chooses to temporarily disable orders for whatever reason.  Contact
                the event organizer for more information.</p>
            </div>
        {% endif %}
    </div>
    {% if event.notes %}
        <div class="container mb-5">
            <div class="alert alert-info mx-auto">
                <h3><p class="text-center">Event Notes From Admin</p></h3>
                <p class="text-center">{{ event.notes }}</p>
            </div>
        </div>
    {% endif %}
    {% if not event.is_locked %}
        <div class="card mb-5">
            <div class="card-header">
                <h3 class="card-title">Add New Item</h3>
                <h6 class="card-subtitle mb-2 text-muted">Don't see an item from the pricelist on this page?  Use this form to add it.</h6>
            </div>
            <div class="card-header">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <div class="form-row">
                        <div class="col">
                            {{ form.item_name.label(class="form-control-label") }}
                            {% if form.item_name.errors %}
                                {{ form.item_name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.item_name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.item_name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ form.category_id.label(class="form-control-label") }}
                            {{ form.category_id(class_="form-control") }}
                        </div>
                    </div>
                    <div class="form-row mt-2">
                        <div class="col">
                            {{ form.price.label(class="form-control-label") }}
                            {% if form.price.errors %}
                                {{ form.price(class="form-control form-control-lg is-invalid", placeholder="0.00") }}
                                <div class="invalid-feedback">
                                    {% for error in form.price.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.price(class="form-control form-control-lg", placeholder="0.00") }}
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ form.packing.label(class="form-control-label") }}
                            {% if form.packing.errors %}
                                {{ form.packing(class="form-control form-control-lg is-invalid", placeholder="4 for 4/1, 12 for 12/1, etc...") }}
                                <div class="invalid-feedback">
                                    {% for error in form.packing.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.packing(class="form-control form-control-lg", placeholder="4 for 4/1, 12 for 12/1, etc...") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-row">
                        {{ form.submit(class="btn btn-outline-info mt-4 ml-1") }}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if structured_item_list %}
        {% for group in structured_item_list.group_lists %}
            <div class="container mb-4">
                <h3>{{ group.category_name }}</h3>
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Packing</th>
                            <th scope="col">Case Price</th>
                            <th scope="col">Price Per Piece</th>
                            <th scope="col">Active Case Splits</th>
                            <th scope="col">Cases You've Reserved</th>
                            <th scope="col">Pieces You've Locked In</th>
                            <th scope="col">Your Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for item in group.items%}
                            {% if item.your_total > 1 %}
                                <tr class="table-success">
                            {% else %}
                                <tr>
                            {% endif %}
                                <th scope="row"><a href="{{ url_for('events.item', event_id=event.id, item_id=item.id) }}">{{ item.name }}</a></th>
                                <td>{{ item.packing }} / 1</td>
                                <td>{{ "$%.2f"|format(item.price) }}</td>
                                <td>{{ "$%.2f"|format(item.price/item.packing) }}</td>
                                {% if item.active_case_splits > 0 %}
                                    <td class="font-weight-bold">{{ item.active_case_splits }}</td>
                                {% else %}
                                    <td class="text-muted">---</td>
                                {% endif %}
                                {% if item.cases_reserved > 0 %}
                                    <td class="font-weight-bold">{{ item.cases_reserved }}</td>
                                {% else %}
                                    <td class="text-muted">---</td>
                                {% endif %}
                                {% if item.pieces_locked_in > 0 %}
                                    <td class="font-weight-bold">{{ item.pieces_locked_in }}</td>
                                {% else %}
                                    <td class="text-muted">---</td>
                                {% endif %}
                                {% if item.your_total > 0 %}
                                    <td class="font-weight-bold">{{ "$%.2f"|format(item.your_total) }}</td>
                                {% else %}
                                    <td class="text-muted">---</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endfor %}
    {% else %}
        <div class="container">
            <div class="alert alert-info mx-auto">
                <h5><p class="text-center"><span class="align-middle">No items exist (yet), use the form above to add some!</span></p></h5>
            </div>
        </div>
    {% endif %}

{% endblock content %}