{% extends "primary.html" %}
{% block content %}
    <div class="alert alert-info mx-auto">
        <p>This is an admin-only area where you can make changes to the event.  Feel free to make a test event and mess
        around with it to become more comfortable with the app.</p>
        <p class="font-weight-bold">Event notes:</p>
        <p>This is a text field that appears on the top of the event page as a colored
        alert, visible to all users.  You can use this to post inportant information about the group buy, deadlines, etc.</p>
        <p class="font-weight-bold">Added charges:</p>
        <p>If you have any associated charges with the group buy to be distributed
        amongst the active group buy users, this is where you add it.  One such example could be the shipping cost, gas
        cost of transporting, etc.  It will distribute the cost amongst users proportionally to the size of their order,
        so smaller orders will pay less while larger ones pay more.  Lets say the total order is $1000, your added
        charges total to $100, and a given user's total is $150.  Since his order is 15% the total cost of the group
        buy, he will pay for 15% of that added fee, which comes out to $15.</p>
        <p class="font-weight-bold">Locking event:</p>
        <p>This will lock in all current case orders and case splits, and prevent any additions, changes
        or deletions.  Adding new items will be restricted as well.  If you unlock it, changes from the users will be
        allowed again.  Use this if you're wrapping up the event, or otherwise are encountering any problems.</p>
        <p class="font-weight-bold">Closing event:</p>
        <p>This is simply a way to show the userbase that an event has officially concluded.  Just like
        locking an event, nothing can be changed.</p>
        <p class="font-weight-bold">Deleting event:</p>
        <p>As it states, the event gets removed.  All items, case buys, and case splits get removed as
        well.  Categories remain unaffected.  Please be aware that this is a permanent action.  Once its gone, its gone!</p>
    </div>
    <div class="container mt-5">
        <form method="POST" action="">
            {{ event_name_form.hidden_tag() }}
            <div class="form-group">
                <label>Event Name</label>
                {% if event_name_form.event_name.errors %}
                        {{ event_name_form.event_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in event_name_form.event_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ event_name_form.event_name(class="form-control form-control-lg") }}
                    {% endif %}
            </div>
            <div class="form-group">
                {{ event_name_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <h3 class="container mt-5 border-bottom">Event Notes</h3>
    <div class="container">
        <form method="POST" action="">
            {{ event_notes_form.hidden_tag() }}
            <div class="form-group">
                {{ event_notes_form.event_notes(class="form-control textarea") }}
            </div>
            <div class="form-group">
                {{ event_notes_form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <h3 class="container mt-5 border-bottom">Event Configuration</h3>
    <div class="container">
        <table class="table mt-3">
                            <thead>
                            <tr>
                                <th scope="col">Added Charges ($)</th>
                                <th scope="col">Toggle Lock?</th>
                                <th scope="col">Close Group Buy?</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <form class="form-inline" method="POST" action="">
                                            {{ event_extra_charge_form.hidden_tag() }}
                                            {% if event_extra_charge_form.extra_charges.errors %}
                                                {{ event_extra_charge_form.extra_charges(class="form-control form-control is-invalid float-left") }}
                                                <div class="invalid-feedback">
                                                {% for error in event_extra_charge_form.extra_charges.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                                </div>
                                            {% else %}
                                                {{ event_extra_charge_form.extra_charges(class="form-control form-control float-left") }}
                                            {% endif %}
                                            {{ event_extra_charge_form.submit(class="btn btn-outline-info float-right ml-2") }}
                                        </form>
                                    </td>
                                    {% if event.is_closed %}
                                        <td><a class="btn btn-outline-warning disabled" href="#" role="button">Unlock</a></td>
                                        <td><a class="btn btn-outline-secondary" href="{{ url_for('events.event_open', event_id=event.id) }}" role="button">Open</a></td>
                                    {% else %}
                                        {% if event.is_locked%}
                                            <td><a class="btn btn-outline-warning" href="{{ url_for('events.event_unlock', event_id=event.id) }}" role="button">Unlock</a></td>
                                            <td><a class="btn btn-outline-secondary" href="{{ url_for('events.event_close', event_id=event.id) }}" role="button">Close</a></td>
                                        {% else %}
                                            <td><a class="btn btn-outline-warning" href="{{ url_for('events.event_lock', event_id=event.id) }}" role="button">Lock</a></td>
                                            <td><a class="btn btn-outline-secondary" href="{{ url_for('events.event_close', event_id=event.id) }}" role="button">Close</a></td>
                                        {% endif %}
                                    {% endif %}
                                </tr>
                            </tbody>
                        </table>
    </div>
    <h3 class="container mt-5 border-bottom">Danger Zone</h3>
    <div class="container">
        <button type="button" class="btn btn-outline-danger mb-5 mt-1" data-toggle="modal" data-target="#warningModal">
            Delete Event
        </button>
    </div>

    <div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Event?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete this event?  This cannot be undone!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-outline-danger" href="{{ url_for('events.event_remove', event_id=event.id) }}" role="button">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}