{% extends "primary.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('general.home') }}">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('events.event', event_id=event.id) }}">{{ event.name }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">Event Total -- User Breakdown</li>
        </ol>
    </nav>
    {% if cases %}
        asd
    {% else %}
        <div class="container">
            <div class="alert alert-info mx-auto">
                <h3><p class="text-center"><span class="align-middle">Order is currently empty.  This page will be
                    populated as cases are bought, and/or case splits get filled.</span></p></h3>
            </div>
        </div>
    {% endif %}
{% endblock content %}