{% extends "primary.html" %}
{% block content %}
    <div class="container">
    {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <label>Event Name</label>
                    {{ form.event_name(class="form-control form-control-lg", placeholder="Add New Event Here") }}
                </div>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        {% endif %}
    </div>
        {% if events %}
            <h1>Event List:</h1>
            {% for event in events %}
                <div class="container border border-primary rounded mt-5">
                    <h2>{{ event.name }}</h2>
                </div>
            {% endfor %}
        {% else %}
            {% if current_user.is_admin %}
                <div class="alert alert-info mt-5" role="alert">
                    No events exist (yet), use the form right above to create some!
                </div>
            {% else %}
                <div class="alert alert-info mt-5" role="alert">
                    No events exist (yet), an administrator will need to create one!
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="alert alert-info mt-4" role="alert">
            <h2>
                <p class="text-center">Welcome To The Group Buy Organizer Web App!</p>
            </h2>
        {% if root_created and registration_enabled %}
            <p class="text-center">Please login or create an account to gain access to the available group buys!</p>
        {% elif not registration_enabled %}
            <p class="text-center">Administrators have disabled new registrations!  If you already have an account, you
                may log in!</p>
        {% elif not root_created %}
            <p class="text-center">If you are seeing this, your application has been successfully set up!  Please
                register and create a new account; the first account created will have root access.  All other
                registrations will have regular user privileges.</p>
        {% endif %}
        </div>
    {% endif %}
{% endblock content %}