{% extends "primary.html" %}

{% set registration_enabled_primary = registration_enabled %}

{% block content %}
    {% if current_user.is_authenticated %}
    <div class="container border-bottom mt-5 mb-3">
        <h2>Event List:</h2>
    </div>
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
    </nav>
    {% endif %}
    <div class="container mt-5">
    {% if current_user.is_authenticated %}
        {% if current_user.is_admin %}
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                {% if form.event_name.errors %}
                    {{ form.event_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.event_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.event_name(class="form-control form-control-lg", placeholder="Add New Event Here") }}
                    <small class="text-muted">
                        This field is only visible to administrators.
                    </small>
                {% endif %}
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        {% endif %}
    </div>
        {% if events %}
            {% for item in home_event_list %}
                {% if not item.event.is_locked %}
                    <div class="card mt-5 border border-success">
                {% elif item.event.is_locked and not item.event.is_closed %}
                    <div class="card mt-5 border border-warning">
                {% else %}
                    <div class="card mt-5 border border-secondary">
                {% endif %}
                    <div class="card-header">
                        {% if not item.event.is_locked and not item.event.is_closed %}
                            <span class="badge badge-success float-left m-2">Open</span>
                        {% elif item.event.is_closed %}
                                <span class="badge badge-secondary float-left m-2">Complete</span>
                        {% elif item.event.is_locked %}
                                <span class="badge badge-warning float-left m-2">Locked - Pending Completion</span>
                        {% endif %}
                        {% if current_user.is_admin %}
                            <a class="btn btn-outline-secondary float-right m-1" href="{{ url_for('events.event_edit',
                            event_id=item.event.id) }}" role="button">Edit Event</a>
                        {% endif %}
                        {% if current_user.is_admin or users_can_see_master_overview %}
                            <a class="btn btn-outline-primary float-right m-1" href="{{ url_for('events.event_total_user_breakdown',
                            event_id=item.event.id) }}" role="button">User Breakdown</a>
                            <a class="btn btn-outline-primary float-right m-1" href="{{ url_for('events.event_summary',
                            event_id=item.event.id) }}" role="button">Order Summary</a>
                        {% endif %}
                        <a class="btn btn-outline-success float-right m-1" href="{{ url_for('events.my_order', event_id=item.event.id, user_id=current_user.id) }}" role="button">My Order</a>
                        <h3><a href="{{ url_for('events.event', event_id=item.event.id) }}">{{ item.event.name }}</a></h3>
                        <h6 class="card-subtitle mb-2 text-muted">Created {{ item.event.date_created.strftime('%x') }} by {{ item.added_by }}</h6>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Active Partipicants</th>
                                <th scope="col">Active Case Splits</th>
                                <th scope="col">Total Cases Reserved</th>
                                <th scope="col">Total Case Cost</th>
                                <th scope="col">Added Charges</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ item.active_participants }}</td>
                                    <td>{{ item.active_case_splits }}</td>
                                    <td>{{ item.total_cases }}</td>
                                    <td>{{ "$%.2f"|format(item.event_total) }}</td>
                                    <td>{{ "$%.2f"|format(item.event.extra_charges) }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
            <div class="container mt-5"></div>
        {% else %}
            {% if current_user.is_admin %}
                <div class="alert alert-info mt-5" role="alert">
                    No events exist (yet), use the form right above to create some!
                </div>
            {% else %}
                <div class="alert alert-info mt-5" role="alert">
                    No events exist (yet), an administrator will need to create one!
                </div>
            {% endif %}
        {% endif %}
    {% else %}
        <div class="alert alert-info mt-4" role="alert">
            <h2>
                <p class="text-center">Welcome To The Group Buy Organizer Web App!</p>
            </h2>
        {% if root_created and registration_enabled %}
            <p class="text-center">Please login or create an account to gain access to the available group buys!</p>
        {% elif not registration_enabled %}
            <p class="text-center">Administrators have disabled new registrations!  If you already have an account, you
                may log in.</p>
        {% elif not root_created %}
            <p class="text-center">If you are seeing this, your application has been successfully set up!  Please
                register and create a new account; the first account created will have root access.  All other
                registrations will have regular user privileges.</p>
        {% endif %}
        </div>
    {% endif %}
{% endblock content %}