{% extends "primary.html" %}
{% block content %}
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('general.home') }}">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="{{ url_for('events.event', event_id=event.id) }}">{{ event.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ item.name }}</li>
            </ol>
    </nav>
    <p class="text-muted">Added by {{ added_by_user.username }}</p>
    {% if current_user.is_admin %}
    <div class="card mb-5">
        <div class="card-header">
            <h3 class="card-title">Edit Item</h3>
            <h6 class="card-subtitle mb-2 text-muted">This form is only visible to administrators.</h6>
        </div>
        <div class="card-header">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <div class="form-row">
                    <div class="col">
                        {{ form.item_name.label(class="form-control-label") }}
                        {% if form.item_name.errors %}
                            {{ form.item_name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in item_edit_form.item_name.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.item_name(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.category_id.label(class="form-control-label") }}
                        {{ form.category_id(class_="form-control") }}
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col">
                        {{ form.price.label(class="form-control-label") }}
                        {% if form.price.errors %}
                            {{ form.price(class="form-control form-control-lg is-invalid", placeholder="0.00") }}
                            <div class="invalid-feedback">
                                {% for error in item_edit_form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg", placeholder="0.00") }}
                        {% endif %}
                    </div>
                    <div class="col">
                        {{ form.packing.label(class="form-control-label") }}
                        {% if form.packing.errors %}
                            {{ form.packing(class="form-control form-control-lg is-invalid", placeholder="4 for 4/1, 12 for 12/1, etc...") }}
                            <div class="invalid-feedback">
                                {% for error in form.packing.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.packing(class="form-control form-control-lg", placeholder="4 for 4/1, 12 for 12/1, etc...") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-row">
                    {{ form.submit(class="btn btn-outline-info mt-4 ml-1") }}
                    <a class="btn btn-outline-danger mt-4 ml-4" href="{{ url_for('events.event_edit',
                    event_id=event.id) }}" role="button" data-toggle="modal"
                       data-target="#item_delete_modal">Delete Item</a>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    <div class="card mb-1">
        <div class="card-header">
            <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Item Name</th>
                            <th scope="col">Packing</th>
                            <th scope="col">Case Price</th>
                            <th scope="col">Price Per Piece</th>
                            <th scope="col">Active Case Splits</th>
                            <th scope="col">Cases You've Reserved</th>
                            <th scope="col">Pieces You've Locked In</th>
                            <th scope="col">Your Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">{{ item.name }}</th>
                        <td>{{ item.packing }} / 1</td>
                        <td>{{ "$%.2f"|format(item.price) }}</td>
                        <td>{{ "$%.2f"|format(item.price/item.packing) }}</td>
                        {% if item.active_case_splits > 0 %}
                            <td class="font-weight-bold">{{ item.active_case_splits }}</td>
                        {% else %}
                            <td class="text-muted">---</td>
                        {% endif %}
                        {% if item.cases_reserved > 0 %}
                            <td class="font-weight-bold">{{ item.cases_reserved }}</td>
                        {% else %}
                            <td class="text-muted">---</td>
                        {% endif %}
                        {% if item.pieces_locked_in > 0 %}
                            <td class="font-weight-bold">{{ item.pieces_locked_in }}</td>
                        {% else %}
                            <td class="text-muted">---</td>
                        {% endif %}
                        {% if item.your_total > 0 %}
                            <td class="font-weight-bold">{{ "$%.2f"|format(item.your_total) }}</td>
                        {% else %}
                            <td class="text-muted">---</td>
                        {% endif %}
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    {% if not event.is_locked %}
        <div class="card mt-5" style="width: 18rem;">
            <div class="card-header">
                <h3 class="card-title">Whole Cases</h3>
                <h6 class="card-subtitle mb-2 text-muted">Use this form to update how many whole cases you'd like to order.</h6>
            </div>
            <div class="card-header">
                <form class="form-inline" method="POST" action="">
                    {{ form.hidden_tag() }}
                            {{ order_case_form.quantity.label(class="form-control-label") }}
                            {{ order_case_form.quantity(class="form-control") }}
                    <div class="form-row">
                        {% if event.is_locked %}
                            <button type="button" class="btn btn-outline-info disabled" disabled>Update</button>
                        {% else %}
                            {{ order_case_form.submit(class="btn btn-outline-info ml-3") }}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
        {% endif %}
        {% if not event.is_locked and item.packing > 1 %}
        <div class="container mt-5">
            <h2>Case Splits</h2>
        <p class="text-muted">Case splits are when you share a case with one or more other users.  If and only if the whole
            case gets filled, it will be "committed" and locked in to the order.  That means any case splits that don't have
            every item in the case reserved by the end of the group buy event will not be added.</p>
        </div>
        <hr>
        <div class="card mb-5 mt-5" style="width: 18rem;">
            <div class="card-header">
                <h3 class="card-title">Create Case Split</h3>
                <h6 class="card-subtitle mb-2 text-muted">Use this form to create a case split, with how many items in the
                    case you pledge to order.</h6>
            </div>
            <div class="card-header">
                <form class="form-inline" method="POST" action="">
                    {{ create_case_split_form.hidden_tag() }}
                    <div class="form-row">
                        <div class="col">
                            {{ create_case_split_form.piece_quantity.label(class="form-control-label mb-2") }}
                            {{ create_case_split_form.piece_quantity(class="form-control") }}
                        </div>
                    </div>
                    <div class="form-row">
                        {% if event.is_locked %}
                            <button type="button" class="btn btn-outline-info disabled mt-4 ml-1" disabled>Submit</button>
                        {% else %}
                            {{ create_case_split_form.submit(class="btn btn-outline-info mt-4 ml-3") }}
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    {% endif %}
    {% if item.case_splits.active_splits or item.case_splits.complete_splits %}
        {% if item.case_splits.active_splits %}
            <div class="container mb-5 mt-5">
            {% if item.case_splits.active_splits|length == 1 %}
                <h3>1 Active Case Split</h3>
            {% else %}
                <h3>{{ item.case_splits.active_splits|length }} Active Case Splits</h3>
            {% endif %}
            <hr>
            {% for active_split in item.case_splits.active_splits %}
                <div class="card border border-success mb-5 mt-5">
                    <div class="card-header">
                        {% if active_split[0].is_current_user_involved %}
                            <div class="alert alert-success" role="alert">
                                <h3 class="card-title text-white"><a href="{{ url_for('events.case_split',
                                event_id=event.id, item_id=item.id, case_split_id=active_split[0].case_split.id) }}">{{ item.packing
                                - active_split[0].pieces_available }} / {{ item.packing }} Items Pledged</a></h3>
                            </div>
                        {% else %}
                            <div class="alert alert-secondary" role="alert">
                                <h3 class="card-title"><a href="{{ url_for('events.case_split', event_id=event.id,
                                item_id=item.id, case_split_id=active_split[0].case_split.id) }}">{{ item.packing -
                                active_split[0].pieces_available }} / {{ item.packing }} Items Pledged</a></h3>
                            </div>
                        {% endif %}
                        {% if current_user.is_admin %}
                            <a class="btn btn-outline-danger float-right" href="{{ url_for('events.remove_case_split',
                                    event_id=event.id, item_id=item.id, case_split_id=active_split[0].case_split.id) }}"
                               role="button">Delete Case Split</a>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted">Added by {{ active_split[1].username }}</h6>
                    </div>
                    <div class="card-header">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{
                                    ((item.packing - active_split[0].pieces_available)/item.packing)*100 }}%">{{ item.packing
                                    - active_split[0].pieces_available }} / {{ item.packing }}</div>
                        </div>
                        <table class="table">
                            <thead>
                               <tr>
                                   <th scope="col">Order of Pledges Submitted</th>
                                   <th scope="col">Username</th>
                                   <th scope="col">Quantity Pledged</th>
                                   {% if current_user.is_admin or active_split.is_current_user_involved %}
                                        <th scope="col">Remove Pledge?</th>
                                   {% endif %}
                               </tr>
                            </thead>
                            <tbody>
                                {% for commit in active_split[0].commits %}
                                    {% if current_user.id == commit[0][0] %}
                                        <tr class="table-success">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                        <td># {{ active_split[0].commits|length - loop.index0 }}</td>
                                        <td>{{ commit[0][1] }}</td>
                                             <td>{{ commit[1].pieces_committed }} -- {{ "$%.2f"|format((item.price/item.packing) * commit[1].pieces_committed) }}</td>
                                        {% if not event.is_locked %}
                                            {% if current_user.is_admin or active_split.is_current_user_involved %}
                                                <td><a class="btn btn-outline-danger" href="{{ url_for('events.remove_case_split_pledge',
                                                event_id=event.id, item_id=item_id, case_split_id=active_split[0].case_split.id, commit_id=commit[1].id) }}" role="button">Remove</a></td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            {% if event.is_locked %}
                <div class="alert alert-info mx-auto">
                    <h5><p class="text-center">No incomplete case splits for this item.</p></h5>
                </div>
            {% else %}
                <div class="alert alert-info mx-auto">
                    <h5><p class="text-center">No currently active case splits for this item.
                        Use the form above to create a new one.</p></h5>
                </div>
            {% endif %}
        {% endif %}
        {% if item.case_splits.complete_splits %}
            <div class="container mb-5 mt-5">
            {% if item.case_splits.complete_splits|length == 1 %}
                <h3 class="mt-5">1 Complete Case Split</h3>
            {% else %}
                <h3 class="mt-5">{{ item.case_splits.complete_splits|length }} Complete Case Splits</h3>
            {% endif %}
            <hr>
            {% for active_split in item.case_splits.complete_splits %}
                <div class="card border border-secondary mb-5 mt-5">
                    <div class="card-header">
                        {% if active_split[0].is_current_user_involved %}
                            <div class="alert alert-success" role="alert">
                                <h3 class="card-title text-white"><a href="{{ url_for('events.case_split', event_id=event.id, item_id=item.id, case_split_id=active_split[0].case_split.id) }}">{{ item.packing - active_split[0].pieces_available }} / {{ item.packing }} Items Pledged</a></h3>
                            </div>
                        {% else %}
                            <div class="alert alert-secondary" role="alert">
                                <h3 class="card-title"><a href="{{ url_for('events.case_split', event_id=event.id, item_id=item.id, case_split_id=active_split[0].case_split.id) }}">{{ item.packing - active_split[0].pieces_available }} / {{ item.packing }} Items Pledged</a></h3>
                            </div>
                        {% endif %}
                        {% if active_split %}
                            <div class="float-right">

                            </div>
                        {% endif %}
                        <h6 class="card-subtitle mb-2 text-muted">Added by {{ active_split[1].username }}</h6>
                    </div>
                    <div class="card-header">
                        <div class="progress">
                            <div class="progress-bar progress-bar bg-primary" role="progressbar" style="width: {{
                                    ((item.packing - active_split[0].pieces_available)/item.packing)*100 }}%">{{ item.packing
                                    - active_split[0].pieces_available }} / {{ item.packing }}</div>
                        </div>
                        <table class="table">
                            <thead>
                               <tr>
                                   <th scope="col">Order of Pledges Submitted</th>
                                   <th scope="col">Username</th>
                                   <th scope="col">Quantity Pledged</th>
                                   {% if current_user.is_admin or active_split.is_current_user_involved %}
                                        <th scope="col">Remove Pledge?</th>
                                   {% endif %}
                               </tr>
                            </thead>
                            <tbody>
                                {% for commit in active_split[0].commits %}
                                    {% if current_user.id == commit[0][0] %}
                                        <tr class="table-success">
                                    {% else %}
                                        <tr>
                                    {% endif %}
                                        <td># {{ active_split[0].commits|length - loop.index0 }}</td>
                                        <td>{{ commit[0][1] }}</td>
                                        <td>{{ commit[1].pieces_committed }} -- {{ "$%.2f"|format((item.price/item.packing) * commit[1].pieces_committed) }}</td>
                                        {% if not event.is_locked %}
                                            {% if current_user.is_admin or active_split.is_current_user_involved %}
                                                <td><a class="btn btn-outline-danger" href="{{ url_for('events.remove_case_split_pledge',
                                                event_id=event.id, item_id=item_id, case_split_id=active_split[0].case_split.id, commit_id=commit[1].id) }}" role="button">Remove</a></td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            {% if event.is_locked %}
                <div class="alert alert-info mx-auto">
                    <h5><p class="text-center">No case splits were completed for this item.</p></h5>
                </div>
            {% else %}
                <div class="alert alert-info mx-auto">
                    <h5><p class="text-center">No case splits were completed for this item...
                    (yet)</p></h5>
                </div>
            {% endif %}
        {% endif %}

    {% else %}
        <div class="container">
            {% if item.packing > 1 %}
                {% if event.is_locked %}
                    <div class="alert alert-info mx-auto mb-5 mt-5">
                        <h5><p class="text-center">No case splits found for this item.</p></h5>5
                    </div>
                {% else %}
                    <div class="alert alert-info mx-auto mb-5 mt-5">
                        <h5><p class="text-center">No case splits for this item (yet).  Use the form above if you wish to create one!</p></h5>
                    </div>
                {% endif %}
            {% else %}
                <div class="alert alert-info mx-auto mb-5 mt-5">
                    <h5><p class="text-center">Cannot have case splits with items packed one to a case!</p></h5>
                </div>
            {% endif %}
        </div>
    {% endif %}

    {#  Modal for item delete  #}
    <div class="modal fade" id="item_delete_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Item?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you wish to delete this item?  All case orders and case splits for this item will be
                    removed too.  This cannot be undone!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-outline-danger" href="{{ url_for('events.remove_item', event_id=event.id, item_id=item.id) }}" role="button">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

