{% extends "primary.html" %}
{% block content %}
    <div class="container mt-5">
        <h2>User Settings</h2>
    </div>
    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Registered</th>
                    <th scope="col">Account Level</th>
                    <th scope="col">Toggle Admin</th>
                    <th scope="col">Disable Account</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {% if user.is_admin %}
                    <tr class="table-success">
                {% elif user.disabled %}
                    <tr class="table-warning">
                {% else %}
                    <tr>
                {% endif %}
                <th scope="row">{{ user.username }}</th>
                <td>{{ user.email }}</td>
                <td>{{ user.date_created }}</td>
                {% if user.is_root %}
                    <td>Root Admin</td>
                {% elif user.is_admin %}
                    <td>Admin</td>
                {% elif user.disabled %}
                    <td>Disabled</td>
                {% else %}
                    <td>User</td>
                {% endif %}

                {% if user.disabled %}
                    <td><a class="btn btn-outline-success btn-sm disabled" href="#" role="button">Promote</a></td>
                {% else %}
                    {% if not user.is_admin and current_user.is_root %}
                        <td><a class="btn btn-outline-success btn-sm" href="{{ url_for('admin.promote_user', user_id=user.id) }}" role="button">Promote</a></td>
                    {% elif user.is_admin and current_user.is_root %}
                        {% if user.is_root %}
                            <td><a class="btn btn-outline-warning btn-sm disabled" href="#" role="button">Demote</a>
                        {% else %}
                            <td><a class="btn btn-outline-warning btn-sm" href="{{ url_for('admin.demote_user', user_id=user.id) }}" role="button">Demote</a></td>
                        {% endif %}
                    {% elif not user.is_admin and not current_user.is_root %}
                        <td><a class="btn btn-outline-success btn-sm disabled" href="#" role="button">Promote</a></td>
                    {% elif user.is_admin and not current_user.is_root %}
                        <td><a class="btn btn-outline-warning btn-sm disabled" href="#" role="button">Demote</a></td>
                    {% endif %}
                {% endif %}

                {% if not user.disabled %}
                    {% if user.is_root or user.is_admin and current_user.is_admin and not current_user.is_root %}
                        <td><a class="btn btn-outline-danger btn-sm disabled" href="#" role="button">Disable</a></td>
                    {% else %}
                        <td><a class="btn btn-outline-danger btn-sm" href="{{ url_for('admin.disable_user', user_id=user.id) }}" role="button">Disable</a></td>
                    {% endif %}
                {% else %}
                    <td><a class="btn btn-outline-success btn-sm" href="{{ url_for('admin.enable_user', user_id=user.id) }}" role="button">Enable</a></td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}